<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_ILdokl9hjao8xECUCoWgMo1oHDhsr68</string>
	<key>GCM_SENDER_ID</key>
	<string>223706374864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.tiffenWala</string>
	<key>PROJECT_ID</key>
	<string>tiffen-wala-d52e3</string>
	<key>STORAGE_BUCKET</key>
	<string>tiffen-wala-d52e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223706374864:ios:44c867af21540b1db374d5</string>
</dict>
</plist>